
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/headerPart :: common-headerPart" />

<body>
	<div th:replace="common/headerPart :: navbar" />

	
	
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<div id="carousel-example-generic" class="carousel slide"
							data-ride="carousel">
							<!-- Indicators -->
							<ol class="carousel-indicators">
								<li data-target="#carousel-example-generic" data-slide-to="0"
									class="active"></li>
								<li data-target="#carousel-example-generic" data-slide-to="1"></li>
								<li data-target="#carousel-example-generic" data-slide-to="2"></li>
							</ol>

							<!-- Wrapper for slides -->
							<div class="carousel-inner" role="listbox">
								<div class="item active">
									<img
										src="/images/sekil3.png"
										alt="..."  style="width:2000px;height:600px;"/>
									
								</div>
								<div class="item">
									<img
										src="/images/sekil2.jpg"
										alt="..." style="width:2000px;height:600px;" />
									
								</div>
								<div class="item">
									<img
										src="/images/sekil4.jpg"
										alt="..." style="width:2000px;height:600px;"/>
									
								</div>
								...
							</div>

							<!-- Controls -->
							<a class="left carousel-control" href="#carousel-example-generic"
								role="button" data-slide="prev"> <span
								class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a> <a class="right carousel-control"
								href="#carousel-example-generic" role="button" data-slide="next">
								<span class="glyphicon glyphicon-chevron-right"
								aria-hidden="true"></span> <span class="sr-only">Next</span>
							</a>
						</div>
					</div>
				</div>
			</div>
			
		

		<div>
			<div class="home-headline">
				<span style="border-radius:10px;"> Our some products</span>
			</div>
			
		</div>

     
   
    <div id="pictures">
    <ul> 
     <li><a th:href="@{/proteinTemplate}"><img src="/images/protein2.png" style="width:400px;height:400px;margin:30px;margin-left: 400px;" /></a></li> 
     <li><a th:href="@{/proteinTemplate}"><img src="/images/protein3.png" style="width:400px;height:400px;margin:30px;"/></a></li>
     <li><a th:href="@{/proteinTemplate}"><img src="/images/protein3.jpg" style="width:400px;height:400px;margin:30px;"/></a></li>
     <li><a th:href="@{/proteinTemplate}"><img src="/images/protein4.png" style="width:400px;height:400px;margin:30px;margin-left: 400px;"/></a></li>
    <li> <a th:href="@{/proteinTemplate}"><img src="/images/protein5.jpg" style="width:400px;height:400px;margin:30px;"/></a></li>
    <li> <a th:href="@{/proteinTemplate}"><img src="/images/protein6_.jpg" style="width:400px;height:400px;margin:30px;"/></a></li>
    </ul>
    </div>
	</div>
	<!-- end of container -->

   <div th:replace="common/headerPart :: footer"/>
	<div th:replace="common/headerPart :: body-bottom-scripts" />
</body>
</html>
